---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('April 16 2024')}
	heroImage="/asset2.jpg"
>
	<p>
		My name is Ilkin Guliyev, and I am 20 years old. I am a university student, 
		and I started gaining experience in the tourism industry in 2021. Initially, 
		I did light translation work with my father, and later, I ventured into 
		freelance entrepreneurship. Over the past few years, I have hosted guests 
		from various countries, including India, Pakistan, the United Arab Emirates, 
		Saudi Arabia, Oman, and several others. While I initially focused on 
		translation work, I gradually expanded my expertise by learning about 
		different places and historical landmarks, showcasing Azerbaijan's beautiful 
		landscapes to people. I organize tours both in Baku and across all regions, 
		collaborating with multiple companies on a freelance basis and also having my 
		own clients. Initially, I worked solo, but now I organize tours both individually 
		and in groups. I assist tourists with hotel bookings, transportation arrangements, 
		and visa procedures. What motivates me the most is the satisfaction of my clients.
	</p>

	<p>
		In the future, my plan in this field is to establish a large company 
		that serves tourists. The aim of this company would be to organize tours 
		for tourists in a transparent and high-quality manner and to solve all the 
		problems they may encounter. Because I see gaps in this field, I know that the 
		service provided is not yet the best, but I have set myself the goal of achieving 
		the best.
	</p>

	<p>The purpose of creating this blog page is to provide tourists with accurate 
		information and to attract a mass of tourists who are interested in participating 
		in well-organized tours. If you are planning to come to Azerbaijan, please contact me 
		directly using the contact information provided below and arrange a tour for yourself 
		or your group. Please note that the services I provide include:
	</p>

	<ul>
		<li>Individual tour organization</li>
		<li>Group tour organization</li>
		<li>Translation services</li>
		<li>Transport services</li>
		<li>Tickets</li>
		<li>Visa support</li>
		<li>Hotel reservation</li>
	</ul>

	<p>If you'd like to get in touch with me, feel free to contact me using the following contact methods:</p>
	<ul>
		<li><b>Phone:</b> [+994 552800996]</li>
		<li><b>Email:</b> [quliyevvilkin578@gmail.com]</li>
		<li><b>Instagram:</b> @qlyvilkn</li>
	</ul>
	<p>Looking forward to hearing from you!</p>
	<a href="https://kofe.al/@qlyvilkn" class="giris" target="_blank">🍩 Support</a>
	<style>
		.giris{
			display: flex;
    		justify-content: center;
    		align-items: center;
    		width: 130px;
    		height: 50px;
    		border-radius: 24px;
    		gap: 8px;
    		background-color:#4f23ff;
    		color: rgba(250, 250, 250, 1);
			text-decoration: none;
}
	</style>
</Layout>
