---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🏝️ Hello, Traveller!</h1>
			<p>
				Welcome to <a href="https://explore-azerbaijan.vercel.app/">ExploreAzerbaijan	</a>, your ultimate guide to experiencing the beauty and culture of Azerbaijan! 
				Whether you're planning your first visit or you're a seasoned traveler to this enchanting land, 
				we're here to provide you with all the information, tips, and inspiration you need to make your journey unforgettable.
			</p>
			<p>
				At ExploreAzerbaijan, we're passionate about showcasing the rich tapestry of experiences that Azerbaijan has to offer. 
				From the bustling streets of Baku to the serene landscapes of the Caucasus Mountains, each corner of this diverse country 
				has its own story to tell.
			</p>
			<p>Through our blog, we aim to be your trusted companion as you explore Azerbaijan. 
				From practical travel advice and insider tips to in-depth cultural insights and off-the-beaten-path recommendations, 
				we're dedicated to helping you make the most of your time in this remarkable destination.</p>

			<p>Here are the interesting topics you can find in ExploreAzerbaijan, 
				where every corner of this fascinating country comes to life through our diverse content:
		
			</p>
			<ul>
				<li><b>Travel Guides:</b>Explore our detailed travel guides, crafted to help you explore Azerbaijan's top attractions, hidden treasures, and cultural highlights effortlessly.</li>
				<li><b>Destination Spotlights:</b>Immerse yourself in Azerbaijan's charm as we showcase its lively cities, stunning natural landscapes, and quaint villages, giving you a glimpse into the country's essence.</li>
				<li><b>Cultural Insights:</b>Experience thrilling adventures across Azerbaijan as we share exciting stories of mountain hikes, ancient ruins exploration, and scenic road trips through the countryside.</li>
				<li><b>Adventure Stories:</b> Equip yourself with essential travel tips, from visa requirements and transportation advice to safety precautions and packing hacks, ensuring a smooth and hassle-free experience in Azerbaijan.</li>
				<li><b>Practical Tips:</b>Equip yourself with essential travel advice, including visa information, transportation tips, safety guidelines, and packing suggestions, ensuring a smooth and enjoyable journey in Azerbaijan.</li>
			</ul>

			<p>
				So whether you're dreaming of sipping tea in a traditional Azerbaijani teahouse, marveling at ancient historical sites, or embarking on an adrenaline-fueled outdoor adventure, 
				let ExploreAzerbaijan be your guide. Join us as we journey through the heart and soul of Azerbaijan, and discover why 
				this vibrant country captures the imagination of travelers from around the world.</p>
			<p>So whether you're dreaming of sipping tea in a traditional Azerbaijani teahouse, marveling at ancient historical sites, or embarking on an adrenaline-fueled outdoor adventure, 
				let ExploreAzerbaijan be your guide. Join us as we journey through the heart and soul of Azerbaijan, 
				and discover why this vibrant country captures the imagination of travelers from around the world.
			</p>
			<p>
				Happy exploring!
			</p>
			<p>Warm regards,<br>
				Guliyev Ilkin <br>
				Founder of ExploreAzerbaijan.</p>
		</main>
		<Footer />
	</body>
</html>
