---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🏝️ Hello, Traveller!</h1>
			<p>
				Welcome to <a href="https://explore-azerbaijan.vercel.app/">ExploreAzerbaijan	</a>, your ultimate guide to experiencing the beauty and culture of Azerbaijan! 
				Whether you're planning your first visit or you're a seasoned traveler to this enchanting land, 
				we're here to provide you with all the information, tips, and inspiration you need to make your journey unforgettable.
			</p>
			<p>
				At ExploreAzerbaijan, we're passionate about showcasing the rich tapestry of experiences that Azerbaijan has to offer. 
				From the bustling streets of Baku to the serene landscapes of the Caucasus Mountains, each corner of this diverse country 
				has its own story to tell.
			</p>
			<p>Through our blog, we aim to be your trusted companion as you explore Azerbaijan. 
				From practical travel advice and insider tips to in-depth cultural insights and off-the-beaten-path recommendations, 
				we're dedicated to helping you make the most of your time in this remarkable destination.</p>

			
			<p>
				So whether you're dreaming of sipping tea in a traditional Azerbaijani teahouse, marveling at ancient historical sites, or embarking on an adrenaline-fueled outdoor adventure, 
				let Azerbaijan Explorer be your guide. Join us as we journey through the heart and soul of Azerbaijan, and discover why 
				this vibrant country captures the imagination of travelers from around the world.</p>
			<p>
				Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
					>read the docs
				</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out <a
					href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
